<div *ngIf="account != undefined" class="container">

  <h2>Hello {{account.nickname}}!</h2>


  <label>Id:</label>
  <div>{{account.id}}</div>
  <label>Nickname:</label>
  <div>{{account.nickname }}</div>
  <label>Login name:</label>
  <div>{{account.loginName }}</div>
  <label>E-Mail:</label>
  <div>{{account.email}}</div>
  <label>Register date:</label>
  <div>{{account.registerDate}}</div>



  <h3>Games:</h3>
  <p *ngFor="let game of gameList">{{game.name}}</p>



  <button class="btn" (click)="testClick()">Show Games</button>
  <br>
  <button

    [routerLink]="['/account-edit', account.id]"
    class="btn btn-default">
    Edit Account
  </button>
</div>
