<div *ngIf="account != undefined" class="container">

  <h2>Hello {{account.nickname}}!</h2>

  <table >
    <thead class="table table-contensed" >
    <tr>
      <th>Id</th>
      <th>Nickname</th>
      <th>Loginname</th>
      <th>E-Mail</th>
      <th>RegisterDate</th>
    </tr>
    </thead>
    <tr>
      <td>{{account.id}}</td>
      <td>{{account.nickname }}</td>
      <td>{{account.loginName }}</td>
      <td>{{account.email}}</td>
      <td>{{account.registerDate}}</td>
    </tr>
  </table>


  <h3>Games:</h3>
  <p *ngFor="let game of gameList">{{game.name}}</p>



  <button (click)="testClick()">Click</button>
  <br>
  <button

    [routerLink]="['/account-edit', account.id]"
    class="btn btn-default">
    Edit Account
  </button>
</div>
