<div class="card">
  <h1>Login</h1>
<!--
  <form formGroup="loginForm">
    <div class="form-group">
      <input formControlName="loginName" name="loginName" class="form-control">
      <input formControlName="password" name="password" class="form-control" type="password">

    </div>
    <button class="btn" (click)="login()">Login</button>
  </form>
-->


  <form #f="ngForm" class="omb_loginForm" autocomplete="on">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input [(ngModel)]="loginName" required placeholder="Login name" type="text" class="form-control" name="loginname" id="loginname">
    </div>
    <span class="help-block"></span>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input [(ngModel)]="password" type="password" class="form-control" required name="password" placeholder="Password">
    </div>


    <span class="help-block"></span>

    <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit">Login</button>
  </form>
</div>
