<div class="container">
  <h1>Welcome to </h1>
  <img class="img-responsive" src="assets/img/dampfLogo.png" style="width: 30%;" class="text-center;">


  <p> <a href="#" [routerLink]="['/login']">Login</a> to see and edit your games.</p>
  <p> Click on <a href="#" [routerLink]="['/account-search']">Accounts</a> if you want to see what your friends are playing.</p>
  <p>Or just go to <a href="#" [routerLink]="['/game-search']">Games</a> if you want to browse all of the available games.</p>
</div>
