<div class="card">
  <div class="header">
    <h2 class="title">Account Search</h2>
  </div>
  <div class="content">
    <form>
      <div class="form-group">
        <label>Nickname:</label>
        <input [(ngModel)]="nickname" name="nickname" class="form-control">
      </div>
      <div class="form-group">
        <button
          (click)="getAllAccounts()"
          class="btn btn-default">GetAll</button>
        <button
          [disabled]="!nickname"
          (click)="search()"
          class="btn btn-default">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <table class="table table-contensed" *ngIf="accounts.length > 0">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nickname</th>
      <th>Loginname</th>
      <th>RegisterDate</th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let account of accounts">
      <td>{{account.id}}</td>
      <td>{{account.nickname }}</td>
      <td>{{account.loginName }}</td>
      <td>{{account.registerDate | date:'dd.MM.yyyy HH:mm'}}</td>
      <td>
        <a (click)="select(f)">Select</a>
      </td>
    </tr>
  </table>
  <div *ngIf="accounts.length == 0">NO ACCOUNTS FOUND</div>
</div>

<div class="card">
  <div class="content">
    <pre>{{ selectedAccount | json }}</pre>
  </div>
</div>
