
<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Dampf
        </a>
    </div>
    <ul class="nav">
        <li>
            <a>
                <i class="ti-home"></i>
                <p>Home</p>
            </a>
        </li>

        <li>
            <a routerLink="account-search">
                <i class="ti-arrow-top-right"></i>
                <p>Accounts</p>
            </a>
        </li>

        <li>
            <a>
                <i class="ti-user"></i>
                <p>Games</p>
            </a>
        </li>
        <li>
            <a>
                <i class="ti-info"></i>
                <p>Info</p>
            </a>
        </li>

            <!--
            <li routerLinkActive="active">
            <a>
                <i class="ti-shopping-cart"></i>
                <p>Basket</p>
            </a>
            </li>
            <li routerLinkActive="active">
            <a>
                <i class="ti-close"></i>
                <p>Hide Basket</p>
            </a>
            </li>
        -->

    </ul>
</div>
