<div class="container">

  <form  #form="ngForm" >
   <div class="text-danger" *ngIf="addForm.controls['name'].hasError('minlength')">
      Please enter a name for the game.        </div>
    <div class="text-danger" *ngIf="addForm.controls['releaseYear'].hasError('pattern')">
      Please enter a valid year.
    </div>
    <div class="text-danger" *ngIf="addForm.controls['price'].hasError('pattern')">
      Please enter a valid price between 0-99.
    </div>
    <div class="text-danger" *ngIf="addForm.controls['ageRestriction'].hasError('pattern')">
      Please enter a valid age between 0-99.
    </div>
    <div class="form-group" [formGroup]="addForm">
      <label>Name: </label> <br>
      <input [(ngModel)]="name" name="name" formControlName="name" placeholder="Name">
      <!--    errors: {{editForm.controls['name'].errors | json}} -->

    </div>


    <div class="form-group" [formGroup]="addForm">
      <label>Release Year: </label> <br>
      <input [(ngModel)]="releaseYear" name="releaseYear" formControlName="releaseYear" placeholder="Release Year">
      <!--    errors: {{editForm.controls['name'].errors | json}} -->

    </div>


    <div class="form-group" [formGroup]="addForm">
      <label>Price:</label> <br>
      <input [(ngModel)]="price" name="price" formControlName="price"  placeholder="Price">
      <!--    errors: {{editForm.controls['name'].errors | json}} -->

    </div>

    <div class="form-group" [formGroup]="addForm">
      <label>Age restriction:</label> <br>
      <input [(ngModel)]="ageRestriction" name="ageRestriction"  formControlName="ageRestriction"  placeholder="Age restriction">
      <!--    errors: {{editForm.controls['name'].errors | json}} -->

    </div>
    <button [disabled]="!addForm.valid"
            (click)="save()"
            class="btn btn-default" >
      Save
    </button>
  </form>
</div>
