<div class="card">
  <div class="header">
    <h2 *ngIf="game" class="title">Edit {{game.name}}</h2>
  </div>
  <div class="content">

    <form  (ngSubmit)="save()" *ngIf="game" #form="ngForm" >
      <div class="form-group">
        <label>GameID: {{game.id}}</label>
      </div>
      <div class="text-danger" *ngIf="editForm.controls['name'].hasError('minlength')">
        Please enter a name for the game.        </div>
      <div class="text-danger" *ngIf="editForm.controls['releaseYear'].hasError('pattern')">
        Please enter a valid year.
      </div>
      <div class="text-danger" *ngIf="editForm.controls['price'].hasError('pattern')">
        Please enter a valid price between 0-99.
      </div>
      <div class="text-danger" *ngIf="editForm.controls['ageRestriction'].hasError('pattern')">
        Please enter a valid age between 0-99.
      </div>

      <div class="form-group" [formGroup]="editForm">
        <label>Name: </label> <br>
        <input [(ngModel)]="game.name" name="name" formControlName="name" placeholder="Name">
    <!--    errors: {{editForm.controls['name'].errors | json}} -->

      </div>


      <div class="form-group" [formGroup]="editForm">
        <label>Release Year: </label> <br>
        <input [(ngModel)]="game.releaseYear" name="releaseYear" formControlName="releaseYear" placeholder="Release Year">
        <!--    errors: {{editForm.controls['name'].errors | json}} -->

      </div>


      <div class="form-group" [formGroup]="editForm">
        <label>Price:</label> <br>
        <input [(ngModel)]="game.price" name="price" formControlName="price"  placeholder="Price">
        <!--    errors: {{editForm.controls['name'].errors | json}} -->

      </div>

      <div class="form-group" [formGroup]="editForm">
        <label>Age restriction:</label> <br>
        <input [(ngModel)]="game.ageRestriction" name="ageRestriction"  formControlName="ageRestriction"  placeholder="Age restriction">
        <!--    errors: {{editForm.controls['name'].errors | json}} -->

      </div>

      <div class="form-group" [formGroup]="editForm">
        <button
          (click)="save()"
          class="btn btn-default">
          Save
        </button>
        <button
          [routerLink]="['/game', game.id]"
          class="btn btn-default">
          Cancel
        </button>
      </div>

    </form>
  </div>
</div>

