<div class="card">
  <div class="header">
    <h2 *ngIf="account" class="title">Edit {{account.nickname}}</h2>
  </div>
  <div class="content">

    <form  (ngSubmit)="save()" *ngIf="account" #form="ngForm" >
      <div class="form-group">
        <label>AccountID: {{account.id}}</label>
      </div>
      <div class="text-danger" *ngIf="editForm.controls['nickname'].hasError('minlength')">
        Please enter a nickname for the Account.        </div>
      <div class="text-danger" *ngIf="editForm.controls['loginName'].hasError('pattern')">
        Please enter a valid name.
      </div>
      <div class="text-danger" *ngIf="editForm.controls['email'].hasError('pattern')">
        Please enter a valid mail.
      </div>
      <div class="text-danger" *ngIf="editForm.controls['registerDate'].hasError('pattern')">
        Please enter a valid date (dd.mm.yyyy).
      </div>

      <div class="form-group" [formGroup]="editForm">
        <label>Nickname: </label> <br>
        <input [(ngModel)]="account.nickname" name="nickname" formControlName="nickname" placeholder="nickname">

      </div>


      <div class="form-group" [formGroup]="editForm">
        <label>Login Name: </label> <br>
        <input [(ngModel)]="account.loginName" name="loginName" formControlName="loginName" placeholder="loginName">

      </div>


      <div class="form-group" [formGroup]="editForm">
        <label>Mail:</label> <br>
        <input [(ngModel)]="account.email" name="email" formControlName="email"  placeholder="email">

      </div>

      <div class="form-group" [formGroup]="editForm">
        <label>Date:</label> <br>
        <input [(ngModel)]="account.registerDate" name="registerDate"  formControlName="registerDate"  placeholder="registerDate">

      </div>

      <div class="form-group" [formGroup]="editForm">
        <button [disabled]="!editForm.valid"
                (click)="save()"
                class="btn btn-default" >
          Save
        </button>
        <button
          [routerLink]="['/account', account.id]"
          class="btn btn-default">
          Cancel
        </button>
      </div>

    </form>
  </div>
</div>

